.pagination-container {
  background-color: white;
  display: flex;
  border: 1px solid #e0e0e0;
  align-items: end;
  justify-content: end;
}

.pagination-item {
  width: 40px;
  height: 40px;
  border-right: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination-item:hover {
  background-color: #646cff;
  color: #f8f9ff;
}

.pagination-item-selected {
  background-color: #646cff;
  color: #f8f9ff;
}

